.item {
	height: 30px;
	display: flex;
	justify-content: initial;
	align-items: center;
	border: 1px solid #ccc;
}
button {
	border: 1px solid #ccc;
	padding: 5px 8px;
}
#output {
	margin-top: 20px;
}
.return {
	margin-bottom: 5px;
}
p {
	height: 30px;
	margin: 0px;
	margin-left: 5px;
	align-content: center;
}
img {
	margin-left: 5px;
	height: 25px;
}
.folder {
	height: 30px;
	display: flex;
	justify-content: initial;
	align-items: center;
	border: 1px solid #ccc;
}
